body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('nirvana-background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupa toda a altura da viewport */
    background-size: cover;
    background-position: center;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
}

/* Pseudo-elemento para criar uma sobreposição escura */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 85px;
    margin-left: 50px;
}

nav {
    display: flex;
    gap: 10px;
}

.nav-item {
    color: #897834;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 60px;
    border: 2px solid #897834;
    margin-left: 15px;
}

.nav-item.active {
    background-color: #897834;
    color: black;
}

main {
    flex: 1; /* Faz com que o conteúdo principal (main) ocupe todo o espaço restante */
    padding: 20px;
}

.intro {
    width: 30%; /* Largura da seção de introdução */
    margin: 20px; /* Margem ao redor da seção */
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo com transparência */
    padding: 30px; /* Espaçamento interno */
    border-radius: 60px; /* Arredondamento dos cantos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.intro h1 {
    color: #e2cd65; /* Cor do título */
    font-size: 32px; /* Tamanho da fonte */
}

.intro p {
    color: #897834; /* Cor do texto */
    font-size: 20px; /* Tamanho da fonte */
}

footer {
    background-color: #897834;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto; /* Coloca o rodapé no final da página */
}

.social-icons img {
    height: 15px;
    margin-left: 140px;
}