/* css do doc global */
body {
    margin: 0;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}



header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    max-height: 115px;
    margin-left: 60px;
}

.logo img {
    height: 100%;
    width: auto;
}

nav {
    display: flex;
    gap: 10px;
}

.nav-item {
    color: #897834;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 60px;
    border: 2px solid #897834;
    margin-left: 15px;
}

.nav-item.active {
    background-color: #897834;
    color: black;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #897834;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.social-icons img {
    height: 15px;
    margin-left: 140px;
}

/* css para a página inicial */
.pagina-inicial {
    background-image: url('background-inicial.png');
    
}

.intro {
    width: 30%;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    color: #e2cd65;
    font-size: 32px;
}

.intro p {
    color: #897834;
    font-size: 20px;
}









/* css para a página de produtos */
.pagina-produtos {
    background-image: url('background-produtos.png');
    
}

.produtos {
    text-align: center;
    color: #e2cd65;
    margin: 20px 0;
}

.produtos-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos-title::before,
.produtos-title::after {
    content: '';
    flex: 1;
    border-top: 2px solid #e2cd65;
    margin: 0 10px;
}

.categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #e2cd65;;
}



.categoria-item:hover {
    border-color:  #e2cd65;;
    color: #e2cd65;;
}

.dropdown-btn {
    background-color: #897834;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.categoria:hover .dropdown-content {
    display: block;
}

.produto-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.produto-item {
    flex: 1 1 25%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #897834;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #e2cd65;
    align-items: center;
}

.produto-img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}



.produto-comprar,
.produto-carrinho {
    background-color: #897834;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
}

.produto-comprar:hover,
.produto-carrinho:hover {
    background-color: olive;
    color: black;
}

.produto-carrinho {
    background-color: whitesmoke;
}

















/* css para a página de contatos */
.pagina-contato {
    background-image: url('background-contato.png');
    
}

.contact-section {
    padding: 20px;
    text-align: center;
    color: #897834;
}

.contact-title {
    color: #897834;
    font-size: 36px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.contact-title::before,
.contact-title::after {
    content: '';
    flex: 1;
    border-top: 2px solid #897834;
    margin: 0 10px;
}

.contact-title::before {
    left: -100px;
}

.contact-title::after {
    right: -60px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* bloco de informações da loja */
.store-info {
    width: 30%; /* Ajustando a largura */
    background-color: rgba(0, 0, 0, 0.2); /* Ajustando a cor de fundo */
    border: 2px solid #e2cd65; 
    border-radius: 50px; 
    padding: 20px; /* espaçamento interno conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombreamento */
}

/* css para o bloco do formulário de contato */
.contact-form {
    width: 45%; /* largura  */
    background-color: rgba(0, 0, 0, 0.2); /* 0.2 pra opacidade */
    border-radius: 10px; 
    padding: 20px; /* ajustando o espaçamento interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombreamento */
}

.contact-form h2 {
    color: #e2cd65;
    margin-bottom: 10px; /*espaçamento entre os elementos*/
}

.contact-form p {
    color: #897834;
    margin-bottom: 20px;
}

.contact-form label {
    display: block; /*elemneto de bloco*/
    color: #e2cd65;
    margin-bottom: 5px;
}

/*css do formulario de envio do usuario*/
.contact-form input,
.contact-form textarea {
    width: 100%; /*largura*/
    padding: 10px; /*peenchimento interno de 10px*/
    margin-bottom: 10px;
    border: 1px solid #897834;
    border-radius: 5px;
    background-color: transparent; /* Fundo transparente */
    color: #e2cd65;
}

.submit-btn {
    background-color: #e2cd65;
    color: black;
    padding: 10px 20px; /*preenchimento do topo e pra direita*/
    border: none;
    border-radius: 10px;
    cursor: pointer; /*colocando o cursor em formato de mão*/
    font-weight: bold;
}














/* cs para página Sobre */

.pagina-sobre {
    background-image: url('background-sobre.png');
    }

/*css da parte superior*/
.about-top {
    background-color: rgba(0, 0, 0, 0.2); /*fundo quase transparente*/
    border: none; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*sombra*/
    text-align: left; /* alinhando o txt */
    color: #e2cd65; 
}

.about-top h1 {
    color: whitesmoke;
    font-size: 36px;
    margin-bottom: 10px;
}

.about-side {
    display: flex;
    justify-content: flex-end; /*deixando espaço para a esquerda, alinhando os itens para a direita*/
    background-color: rgba(0, 0, 0, 0.2);
    border: none; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right; /*deixando o txt na direita*/
    color: #e2cd65; 
}



.about-side {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    border: none; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*sombreamento*/
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(360deg);
    white-space: nowrap;
    color: #897834; 
    font-size: 75px;
    margin-left: 25px; /* espaçamento entre o texto vertical e o conteúdo à direita */
    letter-spacing: 20px; /* espaçamento entre as letras */
}

.about-text {
    flex-grow: 1; /*conteúdo à esquerda ocupando todo o espaço disponível */
}

.about-text h3 {
    color: whitesmoke; 
    font-size: 24px; 
    margin-top: 0; /* removendo as margens superior padrão dos títulos */
}

.about-text p {
    color: #e2cd65; 
    font-size: 16px; 
    line-height: 1.5; /* espaçamento entre linhas do texto */
    margin-top: 5px; /* espaçamento superior entre os parágrafos */
}


/*txt do final da pagina*/
.about-bottom {
    background-color: rgba(0, 0, 0, 0.2);
    border: none; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /*alinhando o texto a esquerda*/
    color: #897834; 
}










/* css para a página compra produto*/

.pagina-produto-detalhe {
    background-image: url('background-CompraProduto.png');
    
}

.pagina-produto-detalhe .produto-detalhe {
    padding: 20px;
}

.pagina-produto-detalhe .produto-titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: olive; 
}

.pagina-produto-detalhe .produto-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagina-produto-detalhe .produto-imagem {
    flex: 1;
    text-align: center;
}

.pagina-produto-detalhe .imagem-ampliada {
    max-width: 100%;
    height: auto;
}

.pagina-produto-detalhe .produto-info {
    flex: 1;
    padding: 20px;
}

.pagina-produto-detalhe .produto-preco {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #897834;
}

.pagina-produto-detalhe .produto-descricao {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #897834; 
}

.mensagem-carrinho {
    font-size: 1em;
    margin-top: 10px;
    color: #897834; 
}


/* css caixa de confirmação */
.confirmation-message {
    border: 2px solid #897834; 
    color: whitesmoke;
    padding: 10px;
    margin: 10px 0;
    background-color: #897834; 
    border-radius: 5px; 
    font-size: 16px;
    text-align: center;
}


/* css do rodapé */
footer {
    background-color: #897834;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
}

/* adicionando fade-in nas pgs */
body {
    opacity: 0;
    transition: opacity 1s ease-in;
}
body.loaded {
    opacity: 1;
}

/* efeito nos ícones sociais */
.social-icons a {
    transition: transform 0.3s;
}
.social-icons a:hover {
    transform: scale(1.1);
}